*{
    margin: 0;
    padding: 0;
   
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}
a:visited{
    color:#005C46; 

}
a:link{
    color: #005C46;
}
.iconfortitle{
    width: 32px;
    height: 32px;
}
.menuImg{
    width: 50px;
    height: 50px;
}
.menuBar{
    display: flex;
    padding: 10px;
    border: 2px solid darkblue;
    font-size: 1.5rem;
    font-family: Helvetica;
    justify-content: space-around;
    background-color:#AFB9BF;
    color:#005C46; 
    font-weight:bold;
    justify-items: center;
    align-items: center;

}
.HomePageimags{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    background-color:#70DCFF;
}
.Continentstext{
  width: 30%;
  padding: 20px;
}
.Continentstext p{
    padding: 10px;
}
.Continentsimg{
    width: 80%;
    height: auto;
}

.NorthAmerica{
  background-color: #00CD00;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.SouthAmerica{
  background-color: #008100;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.Europe{
  background-color: #D03A3A;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.Africa{
  background-color:#FED93C;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.Antarctica{
  background-color:#003EFF;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.Asia{
  background-color:#F33C00;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.Australia{
  background-color:#C13F82;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.America {
  background-color:#FFCA05;
  width: 15px;
  height: 15px;
  display: inline-block; 
  margin-right: 6px;
}
.text{
    padding: 20px;
}
.text p{
    padding-top: 5px;
    line-height: 2;
}

.cardcontainer{
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  background: #fff;
  font-family: Arial, sans-serif;
  justify-self: center;
  padding: 20px;
  margin: 20px;
  
}
.Cardscollection{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.cardImage{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cardText{
    padding: 15px;
    line-height: 2;
}
.cardText h3{
    margin: 0 0 8px;
}
.cardText p{
    font-size: 14px;
    color: #555;
}
.card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
}
.card {
      background: #AFB9BF;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
    }
.Countries{
    padding: 20px;
}
.Countries h2{
    line-height: 1.2em;;
}